<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:security="http://www.springframework.org/schema/security"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
          http://www.springframework.org/schema/beans/spring-beans.xsd
          http://www.springframework.org/schema/security
          http://www.springframework.org/schema/security/spring-security.xsd">

    <!--spring -->
    <security:http>
        <!-- pattern: 要拦截的资源-->

        <security:intercept-url pattern="/loginTest" access="permitAll()"/>
        <security:intercept-url pattern="/static/**" access="isAnonymous()"/>
        <security:intercept-url pattern="/**" access="isFullyAuthenticated()"/>
        <!--<security:http-basic/>-->
        <security:form-login login-page="/loginTest" login-processing-url="/login" default-target-url="/index"/> <!--authentication-success-handler-ref="myAuthenticationSuccessHandler"-->

        <security:access-denied-handler error-page="/error"/>

        <security:csrf disabled="true"/>

        <security:session-management session-fixation-protection="none" />
    </security:http>


    <security:authentication-manager>
        <!--自定义UserDetailService方式-->
        <security:authentication-provider user-service-ref="myUserDetailService">
         <!--   <security:user-service>
            </security:user-service>-->
                <!-- PasswordEncoderFactories定义加密方式 -->
               <!-- <security:user name="admin" password="{noop}123456" authorities="ROLE_USER"/>-->

        </security:authentication-provider>
    </security:authentication-manager>

   <!-- <bean id="sessionFixationProtectionStrategy" class="org.springframework.security.web.authentication.session.ChangeSessionIdAuthenticationStrategy" />

    <bean id="authenticationFilter" class="org.springframework.security.web.authentication.UsernamePasswordAuthenticationFilter">
        <property name="sessionAuthenticationStrategy" ref="sessionFixationProtectionStrategy" />
    </bean>-->

    <bean id="myUserDetailService" class="com.test.security.MyUserDetailService"/>

   <!-- <bean id="myAuthenticationSuccessHandler" class="com.test.security.MyAuthenticationSuccessHandler"/>-->

</beans>